.note {
    background-color: #ffffcc;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 0;
    border-color: transparent;
}

.note p {
    text-align: left;
}

.note-timestamp {
    font-size: small;
}

.notes-button-icon {
    font-size: x-large;
    padding-left: 2px;
}

.add-note-text {
    align-self: center;
}