#mainnav {
    background-color: #337ab7;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

#mainnav span {
    color: #fff;
    width: auto;
    overflow: hidden;
    z-index: 1000;
    cursor: pointer;
    height: 3rem;
    vertical-align: -4px;
}

#mainnav, #mainnav a, #mainnav button {
    color: #fff;
    font-weight: 600;
    height: 3rem;
}

.bordered {
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 0 1px 0 1px;
}

#mainnav span:hover, #mainnav a:hover, #mainnav button:hover {
    background-color: #2b8cff;
}