.app-container {
  min-height: 100%;
  text-align: center;
  background-color: white;
}

.sbo-gray-gradiant {
  border-color: #dcdcdc;
  background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
}