tbody tr:hover {
    color: #ffffff;
    background-color: #2b8cff!important;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, 0) 100%);
}

.paging-row, .paging-row:hover {
    background-color: #ffffff!important;
}

th {
    cursor: pointer;
}

.sort-icon {
    user-select: none;
    font-size: x-small;
    margin-left: 0.25rem;
    color: darkgray;
}